.hero_section {
  background-image: url("https://cdn.shopify.com/s/files/1/0704/6378/2946/files/1.jpg?v=1721317900");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}
